body {
    background-color: #E7E1D3;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #364d00;
    margin-top: 30px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #5eb95e;
    border-color: #09803e;
    transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #004494;
    border-color: #004494;
}

.table {
    margin-top: 20px;
}

.table thead th {
    background-color: #4f8700b3;
    color: #fff;
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

p {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}
