<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <body>
        <div class="container">
            <div class="login-box">
                <div class="logo">
                    <img src="/ProjetoNovo/ProjetoFinal/static/img/icon.ico" alt="Logo">
                </div>
                <h2>LOGIN</h2>
                <form action="">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="Digite seu email">
                    </div>
                    <div class="input-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" placeholder="Digite sua senha">
                    </div>
                    <div class="actions">
                        <a href="#">Esqueceu a senha?</a>
                        <a href="#">Primeiro login? Cadastre-se aqui</a>
                    </div>
                    <button type="submit" class="login-btn">ENTRAR</button>
                </form>
            </div>
        </div>
    </body>
</html>